/**
 * Menus
 */
.menu {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    color: inherit;
    line-height: 1.25;

    &.is-active {
      color: $blue;
    }
  }

  a {
    &:not(.btn) {
      border: 0;
      color: inherit;
      display: inline-block;
      text-decoration: none;

      &:hover {
        color: $blue;
      }
    }
  }
}
